body{
    font.family: Arial, sans-seriff;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: centerl;
    height: 100vh;
    margin: 0;
}
.form-container{
    background-color: color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow:  0 0 10px-rgba(0,0,0,0.1)
}
h2{
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input, textarea {
    width: 100%;
    margin-bottom: 20px;
    border 1px solid #ccc;
    border.radius: 4px;
    }
    button {
        width: 100%;
        padding: 10px;
        border: none;
        background-color: #5cb85c;
        color: white;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
    }
    button: :hover {
        background_color: #4cae4c;
    }

